.footer{
	&__top{
		height: 120px;
		background-color: $white;
		&-inner{
			height: inherit;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.adress{
				text-decoration: none;
				font-size: 14px;
				font-weight: 400;
				line-height: 16.41px;
				color: $black;
			}
			.phone{
				text-decoration: none;
				color: $black;
				font-size: 16px;
				font-weight: 400;
				line-height: 18.75px;
			}
		}
	}
	&__bottom{
		height: 64px;
		background-color: $lightGrey;
		&-inner{
			height: inherit;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.copy{
				font-size: 12px;
				font-weight: 400;
				line-height: 14.06px;
				color: $darkGrey;
			}
			.poly{
				text-decoration: none;
				font-size: 12px;
				font-weight: 400;
				line-height: 14.06px;
				color: $darkGrey;
			}
		}
	}
}