$primary: #66C05D;
$white: #ffffff;
$black: #000000;
$dark: #333333;
$lightGrey: #EFEFEF;
$grey: #C4C4C4;
$darkGrey: #828282;

$mobile: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;
$desktopL: 2560px;