.card{
	display: flex;
	flex-direction: column;
	background-color: $primary;
	padding: 15px;
	@include _Tablet{
		padding: 35px 45px 35px 40px;
		flex-direction: initial;
	}
	&__left{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		@include _Tablet{
			width: 60%;
			display: initial;
			flex-direction: initial;
			align-items: initial;
		}
	}
	&__right{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		@include _Tablet{
			width: 40%;
			display: initial;
			flex-direction: initial;
			align-items: initial;
		}
	}
	&__title{
		text-align: center;
		font-size: 16px;
		font-weight: 700;
		line-height: 21.09px;
		color: $white;
		margin-bottom: 25px;
		@include _Tablet{
			text-align: initial;
			font-size: 18px;
		}
	}
	&__text{
		text-align: center;
		font-size: 14px;
		font-weight: 400;
		line-height: 19.69px;
		color: $white;
		margin-bottom: 25px;
		@include _Tablet{
			text-align: initial;
		}
	}
	&__input{
		background-color: $white;
		border-radius: 30px;
		width: 225px;
		height: 35px;
		padding: 0 25px;
		border: none;
		font-size: 14px;
		font-weight: 400;
		line-height: 16.41px;
		color: $black;
		margin-bottom: 20px;
		@include _Tablet{
			margin-bottom: 0;
		}
		&::placeholder{
			font-size: 14px;
			font-weight: 400;
			line-height: 16.41px;
			color: $grey;
		}
	}
	&__image{
		display: block;
		width: 140px;
		height: 106.54px;
		margin-left: 0;
		object-fit: cover;
		fill: $white;
		@include _Tablet{
			margin-left: auto;
		}
	}
}