.header{
	&__top{
		height: 50px;
		background-color: $lightGrey;
	}
	&__middle{
		height: 60px;
		background-color: $white;
		@include _Tablet{
			height: 120px;
		}
	}
	&__bottom{
		height: 60px;
		background-color: $white;
		border-top: 1px solid $lightGrey;
		@include _Tablet{
			height: 80px;
		}
	}
}