.bottom-nav{
	height: inherit;
	&__list{
		display: flex;
		align-items: center;
		justify-content: center;
		height: inherit;
	}
	&__item{
		&:not(:last-child) {
			margin-right: 40px;
		}
	}
	&__link{
		text-decoration: none;
		font-size: 16px;
		font-weight: 400;
		line-height: 18.75px;
		color: $black;
	}
}