.middle-nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: inherit;
	&__logo{
		display: flex;
		align-items: center;
		&-image{
			fill: $primary;
			width: 80px;
			height: 80px;
			flex: 0 0 auto;
			margin-right: 20px;
		}
		&-title{
			font-size: 36px;
			font-weight: 700;
			line-height: 42.19px;
			letter-spacing: 0.1em;
			color: $primary;
			text-transform: uppercase;
		}
	}
	&__contact{
		.phone{
			text-decoration: none;
			font-size: 16px;
			font-weight: 400;
			line-height: 18.75;
			color: $black;
			margin-right: 40px;
		}
	}
}